<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.busanstamp.checkin.CheckinMapper">


    <select
            id="existsByUserAndPlace"
            resultType="int">

        SELECT COUNT(*)
        FROM checkins
        WHERE user_id = #{userId}
        AND place_id = #{placeId}

    </select>


    <insert
            id="save"
            parameterType="com.example.busanstamp.checkin.Checkin"
            useGeneratedKeys="true"
            keyProperty="checkinId">

        INSERT INTO checkins (user_id, place_id, checked_in_at)
        VALUES (#{userId}, #{placeId}, #{checkedInAt})

    </insert>

    <select
            id="findStampStatusesByUserId"
            resultType="com.example.busanstamp.checkin.StampStatus">

        SELECT
        p.place_id,
        p.name,
        p.category,
        p.address,
        p.image_url,

        CASE
        WHEN c.checkin_id IS NULL THEN FALSE
        ELSE TRUE
        END AS acquired,

        c.checked_in_at

        FROM places p

        LEFT JOIN checkins c
        ON p.place_id = c.place_id
        AND c.user_id = #{userId}

        ORDER BY
        acquired DESC,
        c.checked_in_at DESC,
        p.place_id DESC

    </select>

</mapper>