<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.busanstamp.checkin.CheckinMapper">


    <select
            id="existsByUserAndPlace"
            resultType="int">

        SELECT COUNT(*)
        FROM checkins
        WHERE user_id = #{userId}
        AND place_id = #{placeId}

    </select>


    <insert
            id="save"
            parameterType="com.example.busanstamp.checkin.Checkin"
            useGeneratedKeys="true"
            keyProperty="checkinId">

        INSERT INTO checkins (user_id, place_id, checked_in_at)
        VALUES (#{userId}, #{placeId}, #{checkedInAt})

    </insert>


</mapper>